
__pycache__/CheckInput.cpython-311.pyc
__pycache__/Settings.cpython-311.pyc
settings copy.json
Sounds/Crash.wav
Sounds/Cymbals_StayOnBeat (27).wav
Sounds/HHc.wav
Sounds/OpenHH.wav
Sounds/Ride.wav
settings copy.json
Sounds/Crash.wav
Sounds/OpenHH.wav
Sounds/Ride.wav
